<% if (title) { %>
<h1 id="-title"><%-title%></h1>
<%} else{ res.redirect('/')}%>

<!-- <%-messages() %> -->

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="regisration-container">
    <form id="reg-form" action="/account/register" method="POST">
    <p id ="req1">*All fields are required* </p>
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="account_firstname" required value="<%= locals.account_firstname %>">
    
    <label for="username">Last Name:</label>
    <input type="text" id="last-name" name="account_lastname" required value="<%= locals.account_lastname %>">
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">

    <label for="password">Password:</label>
    <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <span>Password must be 12 characters in length and should include at least one of each of the following: lower case letter, upper case letter, numeric character and one special character.</span>

    <button type="submit" value="register">Register</button>
</form>
</div>

<!-- required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" -->