<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%- messages() %>
            <form id="edit-invForm" action="/inv/update" method="POST">
                <fieldset>
                    <label for="classification_id">Choose Classification Name</label>
                    <select id="classification_id" name="classification_id" required>
                        <option value="<%=locals.classification_id%>" <%=locals.classification==='new car' ? 'selected'
                            : '' %>>New Car
                        </option>
                        <option value="sedan" <%=locals.classification==='sedan' ? 'selected' : '' %>>Sedan</option>
                        <option value="sport" <%=locals.classification==='sport' ? 'selected' : '' %>>Sport</option>
                        <option value="suv" <%=locals.classification==='suv' ? 'selected' : '' %>>SUV</option>
                        <option value="truck" <%=locals.classification==='truck' ? 'selected' : '' %>>Truck</option>
                    </select><br>

                    <label for="make">Make:</label><br>
                    <input type="text" id="make" name="inv_make" value="<%= locals.inv_make %>"
                        placeholder="Min of 3 characters" minlength="3" required><br>

                    <label for="model">Model:</label><br>
                    <input type="text" id="model" name="inv_model" value="<%= locals.inv_model %>"
                        placeholder="Min of 3 characters" minlength="3" required><br>

                    <label for="description">Description:</label><br>
                    <textarea id="description" name="inv_description"
                        required><%= locals.inv_description %></textarea><br>

                    <label for="imagePath">Image Path:</label><br>
                    <input type="text" id="image_path" name="inv_image" value="<%= locals.inv_image %>" required><br>

                    <label for="thumbnailPath">Thumbnail Path:</label><br>
                    <input type="text" id="thumbnail_path" name="inv_thumbnail" value="<%= locals.inv_thumbnail %>"
                        required><br>

                    <label for="price">Price:</label><br>
                    <input type="text" id="price" name="inv_price" value="<%= locals.inv_price %>"
                        placeholder="Decimal or Integer" pattern="[0-9]+(\.[0-9]+)?" required><br>

                    <label for="year">Year:</label><br>
                    <input type="text" id="year" name="inv_year" value="<%= locals.inv_year %>"
                        placeholder="4-digit year" pattern="[0-9]{4}" required><br>

                    <label for="miles">Miles:</label><br>
                    <input type="text" id="miles" name="inv_miles" value="<%= locals.inv_miles %>"
                        placeholder="Digits only" pattern="[0-9]+" required><br>

                    <label for="color">Color:</label><br>
                    <input type="text" id="color" name="inv_color" value="<%= locals.inv_color %>" required><br>
                    <br>
                    <button type="submit">Update Vehicle</button>

                    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                        <% } %>>
                </fieldset>
            </form>


            <script src="../../controllers/invController"></script>